Django>=4.2,<5.1
django-extensions
djangorestframework
django-cors-headers
drf-spectacular
djangorestframework-simplejwt
apscheduler
thefuzz
python-Levenshtein
reportlab
firebase-admin
psycopg2-binary
